.container {
    width: 100%;
    background-color: grey;
    height: 88%;
}


.msgCloud {
    border-radius: 50px 5px 50px 22px;
    background: #87e405f5;
    padding: 20px;
    width: 20%;
    height: 3%;
    float: right;
    margin-top: 50px;
    display: flex;
}

.msgCloud > span{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}